
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
  }
.footer-container{
    width: 100%;

     background-image: url('../../../BannerSection/resources/images/rectangle-24@2x.png');
     background-repeat: no-repeat;
     position: relative;
     box-sizing: border-box;
}
.fc_sub_container{
    padding: 50px 0 50px 100px !important;
    background-image: url('../../../BannerSection/resources/images/rectangle-24@2x.png');
   margin: 10px auto 0 auto;
   display: flex;
   justify-content: space-around;
   overflow: hidden;

}
.fc_part1_h1{
    margin: 0;
}
.fc_part1_header{
    color: #fff;
}

.fc_part1_desc{
    color: #fff;

}
.fc_social_media_button{
    padding: 6px;
}
.fc_common_div{
 
    align-items:flex-start ;
}
@media screen and (max-width: 500px) {
    .fc_sub_container{
       padding: 40px !important;
    }
    .fc_services_section{
        margin: 5px;
    }
     }