.navbar_container {
  /* background: #000000 !important;
  opacity: 0.9 !important; */
  /* margin : 0 !important; */
padding: 10px 30px 10px 60px !important;
}
.navbar_countdown_text{
  font-size: 17px;
}
.navbar-toggler{
  border: 2px solid #fdd03b !important;
  background: #fff !important;
}
.navbar_header {
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 2.2rem;
  font-family: "Rounded Mplus 1c Bold";
  margin-bottom: 0;
}
.navbar_desc {
  color: #ffff;
  font-family: "Rounded Mplus 1c Bold";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 1.5px;
  margin-bottom: 0;
}

.navbar_button {
  width: 160px;
  height: 56px;
  background: #fdd03b;
  border-radius: 30px;
  border: 0 !important;
  margin: 0;
}
.show-counter .countdown-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding: 0.5rem;
  background-color: #ffffff;
  border-radius: 0.25rem;
  text-decoration: none;
  color: #000;
}

.show-counter .countdown {
  line-height: 1.25rem;

  align-items: center;
  display: flex;
  flex-direction: column;
}
.thumbnail-image{
  border-radius: 50%;
  border: 10px  #FDD03B !important;
  height: 48px;
}
#dropdown-item-button{
  background-color: #212529 !important;
  width:auto !important;
  border: 0 !important;
  margin-right: 75px !important;
}
.dropdown-item:hover{
 background-color: #FDD03B;
}
.dropdown-menu{
  width: 260px !important;
}
.nav_message_number{
  color : #FDD03B !important;
  height: 24px !important;
    width: 24px !important;
    text-align: center;
}
.nav_user_container{
  border-radius: 50%;
  border: 10px  #FDD03B !important;
  width: 200px !important;
}
.nav_drop_down_item_text{
  padding: 0 !important;
}
.show-counter .countdown.danger {
  color: #ff0000;
}

.show-counter .countdown > p {
  margin: 0;
}

.show-counter .countdown > span {
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1rem;
}
.navbar_countdown_timer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;

  text-align: center;
}
.saleLogoContainer{
  position: absolute;
  top : 15%;
  right : 20%
}

@media screen and (max-width: 500px) {
  .navbar_counter_value {
    font-size: large;
  }
  .navbar_counter_type {
    font-size: x-small !important;
  }
  .navbar_counter_desc {
    font-size: 16px !important;
  }
  .show-counter .countdown-link {
    margin-top: 5px;
  }
  #dropdown-item-button{
    width: auto !important;
  }
  .navbar_container{
    padding: 10px !important;
  }
  .saleLogoContainer{
    display: none;
  }
}
@media screen and (min-width : 1000px) and (max-width : 1500px){
  .saleLogoContainer{
   top : 25%;
   right : 20%;
  }
  #dropdown-item-button{
    margin-right: 68px !important;
  }
  .navbar_container{
    padding: 5px 0px;
  }
  .saleLogo{
    width: 130px;
  }
  

}
@media screen and (max-width : 999px) {
  .saleLogoContainer{
    display: none;
  }
}
