/* fonts */

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&family=Roboto:wght@500&display=swap');

.rsc > .rsc-container{
    /* top: 100px !important; */
    bottom: 5px;
    
    overflow: hidden !important;
    z-index: 99999 !important;
}
@media screen and (max-width: 500px) {
    .rsc > .rsc-container{
        /* top: 100px !important; */

        overflow: hidden !important;
        z-index: 99999 !important;
    }
     }